.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.editor,
.editor div,
.editor-view {
  height: 100%;
}
.editor div div:focus {
  outline: none !important; /* Remove the default focus outline */
  box-shadow: none !important; /* Remove any box-shadow on focus */
  border-color: transparent !important; /* Set border color to transparent on focus */
}
